<!-- Cabecera & Navbar template -->
<%- include('template/cabecera', {tituloWeb: "Inicio"}); %>

    <h1>Error 404</h1>

    <h2>
        <%= nombre %>
    </h2>
    <a href="/">ir a la pagina de Inicio</a>
    </body>

    </html>