<!-- Cabecera & Navbar template -->
<%- include('template/cabecera', {tituloWeb: "404"}); %>
    <%- include('template/navbar'); %>

        <div class="container w-75 d-flex justify-content-center">
            <img data-aos="fade-right" class="mw-100" src="/img/404/img_404-p.jpg" alt="404">
        </div>
        <h3 class="d-flex justify-content-center"><a class="btn btn-info" href="/">ir a la pagina de Inicio</a></h3>



        <%- include("template/footer")  %>