<!-- Cabecera & Navbar template -->
<%- include('template/cabecera', {tituloWeb: "Contacto"}); %>


    <h1>esta es una pagina dinamica de contacto</h1>
    <h2>
        <%= nombre %>
    </h2>
    </body>

    </html>