* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


/* trabajando animacion de titulo aqui */


/* #inimation-dog {
    background: url(/img/inicio/dog-black.gif) center;
    background-size: 15%;
    background-position-x: left;
    background-repeat: no-repeat;
    animation: cambio4 4s linear;
    animation-timing-function: ease-out;
}

@keyframes cambio4 {
    0% {
        background-position-x: right;
    }
    100% {
        background-position-x: left;
    }
} */

#img-mascotas {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: flex;
    margin: auto;
}

.slide-contenedor {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide-contenedor ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s linear infinite alternate;
}

.slide-contenedor li {
    width: 100%;
    list-style: none;
}

.slide-contenedor img {
    width: 100%;
    margin-left: 8%;
}

@keyframes cambio {
    0% {
        margin-left: 0%;
    }
    20% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}


/* slide index */

.img_container {
    background: url(/img/inicio/img_fondo_index.jpg) center;
    background-size: 100%;
    height: 450px;
    animation: cambio3 4s linear infinite;
    animation-direction: alternate;
}

@keyframes cambio3 {
    0% {
        background: url(/img/inicio/img_fondo_index.jpg) center;
        background-size: 100%;
    }
    100% {
        background: url(/img/inicio/img_fondo_index_invertida.jpg) center;
        background-size: 100%;
    }
}

.img_slide {
    position: relative;
}

.img_slide {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.img_slide ul {
    position: absolute;
    display: flex;
    padding: 0;
    width: 200%;
    animation: cambio2 7s linear infinite;
}

.img_slide li {
    width: 100%;
    list-style: none;
    top: -543px;
    z-index: 2;
    /* padding-left: 80px; */
}

.img_slide img {
    width: 100%;
    /* margin-left: 8%; */
}

@keyframes cambio2 {
    0% {
        margin-left: -150%;
    }
    100% {
        margin-left: 100%;
    }
}

.container-circulos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -54px;
}

.circulo {
    border-radius: 50%;
    border: solid 8px white;
    min-height: 320px;
    min-width: 320px;
    /* display: flex; */
    z-index: 5;
    margin: 75px;
}

.fondo_circulo1 {
    background: url(/img/inicio/portada_c1.jpg) center;
    background-size: cover;
}

.fondo_circulo1 h1 {
    background-color: #f0f8ff9c;
    border-radius: 9px;
    border-left: solid 5px aqua;
    font-size: 30px;
}

.fondo_circulo2 h1 {
    background-color: #f0f8ff75;
    border-radius: 9px;
    border-left: solid 5px aqua;
    font-size: 30px;
}

.fondo_circulo3 h1 {
    background-color: #f0f8ff75;
    border-radius: 9px;
    border-left: solid 5px aqua;
    font-size: 30px;
}

.fondo_circulo2 {
    background: url(/img/inicio/portada_c2.jpg) center;
    background-size: cover;
}

.fondo_circulo3 {
    background: url(/img/inicio/portada_c3.jpg) center;
    background-size: cover;
}

.titulo_slide h1 {
    z-index: 5;
    display: flex;
    color: white;
    font-size: 70px;
}

@media (max-width: 1300px) {
    .circulo {
        min-height: 280px;
        min-width: 280px;
    }
}

@media (max-width: 1160px) {
    .circulo {
        min-height: 250px;
        min-width: 250px;
    }
}

@media (max-width: 1070px) {
    .circulo {
        min-height: 220px;
        min-width: 220px;
        margin: 50px;
        margin-top: 100px;
    }
}

@media (max-width: 890px) {
    .circulo {
        min-height: 215px;
        width: 100px;
        margin: 30px;
    }
    .container-circulos {
        position: relative;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: -15px;
    }
    .img_container {
        background-color: teal;
        /* background-color: blue; */
        height: 450px;
    }
    .img_slide ul {
        display: none;
    }
    .img_slide {
        width: 100%;
        margin: auto;
        height: auto;
    }
}